#line1Form {
    text-align: center;
    color: var(--blueMain);
    margin-top: 60px;
    font-size: 22px;
    font-weight: bold;
}

#line2Form {
    text-align: center;
    color: var(--blueMain);
    margin-top: 20px;
    font-size: 20px;
}

#waveTop2 {
    /* transform: rotate(180deg); */
    /* height: 200px; */
    margin-top: 20px;
    position: absolute;
    z-index: 2;
}

#waveTop3 {
    top: 10px;
    position: absolute;
}